{% extends "sitebase.html" %}
{% load dajaxice_templatetags %}
{% load i18n %}

{% block extra_style %}

<link rel="stylesheet" type="text/css" href="/static/css/dark-blue.min.css" />

  <style type='text/css'>

  .selected img {
    opacity:0.5;
  }
      
  </style> 
{% endblock extra_style %}   

{% block middlecontent %}

<div class="col-sm-8">

  <br/>

  <div class="panel panel-default">
    <div class="panel-heading"> {{car.title}} </div>
    <div class="panel-body">

     <!-- car slider --> 
    <br/>
    

    <hr/>
    
    <br/>

    <div class="col-md-12 content-box">
            <h3 class="content-box-header ui-state-default">
                <span>{% trans "Description De l'offre" %}</span>
            </h3>
            <div class="content-box-wrapper">
                Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia, animi, sit, distinctio alias laborum dolor necessitatibus magni id repellendus iusto consequatur pariatur voluptate provident perspiciatis deserunt et impedit eaque? Totam.
            </div>
        </div>

    <hr/>

    <br/>
    
    <div class="car-desc">
      
            <div class="col-md-12">

                <div class="dashboard-panel content-box remove-border bg-green">
                    <div class="content-box-wrapper">
                        <div class="header">
                            {{car}}
                            <span>Year - {{car.year_display}}</span>
                        </div>
                    </div>
                    <table class="table text-center boo-table table-striped ">
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td class="font-bold text-left">Colonne</td>
                                <td><div class="label bg-orange">&nbsp;</div></td>
                                <td class="text-right">
                                    {{car.model_display}}
                                </td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td class="font-bold text-left">Colonne</td>
                                <td><div class="label bg-black">&nbsp;</div></td>
                                <td class="text-right">
                                    $ {{car.price_display}}
                                </td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td class="font-bold text-left">Colonne</td>
                                <td><div class="label bg-green">&nbsp;</div></td>
                                <td class="text-right">
                                    {{car.manufacturor_display}}
                                </td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td class="font-bold text-left">Colonne</td>
                                <td><div class="label bg-red">&nbsp;</div></td>
                                <td class="text-right">
                                    Yes
                                </td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td class="font-bold text-left">Colonne</td>
                                <td><div class="label bg-azure">&nbsp;</div></td>
                                <td class="text-right">
                                    {{ car.used }}
                                </td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td class="font-bold text-left">Phone number</td>
                                <td><div class="label bg-blue-alt">&nbsp;</div></td>
                                <td class="text-right">
                                    000-000-000
                                </td>
                            </tr>
                        </tbody>
                    </table>
            <div class="button-pane">

                <div class="heading medium">
                    
                  {% if can_edit %}
                    <a href="/offer/{{car.id}}/edit" class="btn medium ui-state-default" title="">
                        <span class="button-content">{% trans "Modifier l'annnonce " %}</span>
                    </a>
                  {% endif %}

                </div>
            </div>
        </div>

    </div>  
      
    </div> <!-- car desc ends --> 

    <br/><br/>

      <!-- car slider ends --> 
      
    </div> <!-- end panel body -->
    
  </div>

<!-- google ads -->       
<div class="panel panel-default">
 <div class="panel-body">
   <div class="col-sm-12">
     <img src="http://placehold.it/670x70&amp;text=Google_ads" alt="placeholder image" class='img-responsive'>
   </div>
 </div>
</div>
  
</div> <!-- end span8 -->
  
{% endblock middlecontent %}

<br/>

{% block sidecontent %}

<div class="col-sm-4">
  <div class="sidebar">

    <div class="panel panel-default">
      <div class="panel-heading">Share</div>
      <div class="panel-body">
        <div class="social_network_likes">
          <ul>
            <li>
              <a href="#" class="tweet">
                <div class="followers">
                  <p>
                    <span>2k</span>
                    Followers
                  </p>
                </div>
                <div class="social_network"> <i class="twitter-icon webf"> t </i>
                </div>
              </a>
            </li>
            <li>
              <a href="#" class="facebook-follower">
                <div class="followers">
                  <p>
                    <span>5k</span>
                    Followers
                  </p>
                </div>
                <div class="social_network"> <i class="facebook-icon webf"> f </i>
                </div>
              </a>
            </li>
            <li>
              <a href="#" class="emails">
                <div class="followers">
                  <p>
                    <span>7.5k</span>
                    members
                  </p>
                </div>
                <div class="social_network">
                  <i class="email-icon webf"> r </i>
                </div>
              </a>
            </li>
            <li>
              <a href="#" class="gmail">
                <div class="followers">
                  <p>
                    <span>10k</span>
                    Followers
                  </p>
                </div>
                <div class="social_network">
                  <i class="gmail-icon webf"> g </i>
                </div>
              </a>
            </li>
            <div class="clear"></div>
          </ul>
        </div>
      </div>
    </div>

  </div>
  <!-- end div sidebar -->

  <!--  tabbed posts and comments -->

  <div class="panel panel-default">

    <div class="panel-heading"> Popular posts </div>
    <div class="panel-body">

      <br/>
      <div id="secondary" class="widget-area span3" role="complementary">
    <aside id="dw_focus_tabs-6" class="widget dw_focus_tabs news-tab">

      <div class="nav-tab-select-wrap">
        <select name="nav-tabs-dw_focus_tabs-6" class="nav-tabs-by-select hidden-desktop">
          <option data-target="#dw_focus_popular_news-3" value="#dw_focus_popular_news-3">POPULAR</option>
          <option data-target="#dw-recent-comments-dw-widget-1" value="#dw-recent-comments-dw-widget-1">COMMENT</option>

        </select>
      </div>

      <ul class="nav nav-tabs visible-desktop" id="nav-tabs-dw_focus_tabs-6">
        <li class="active">

          <!-- be careful to the urls it is used to navigate -->

          <a href="http://demo.designwall.com/dw-focus/blog/#dw_focus_popular_news-3">Popular</a>
        </li>
        <li class="">
          <a href="http://demo.designwall.com/dw-focus/blog/#dw-recent-comments-dw-widget-1">Comment</a>
        </li>

      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="dw_focus_popular_news-3">
          <h3 class="widget-title">Popular</h3>

          <article class="hentry item active has-thumbnail content-print">

            <div class="entry-thumbnail">
              <a href="#">
                <img width="110" height="110" src="/static/img/thumb1.JPG" class="attachment-thumbnail wp-post-image" alt="Bloomberg tops $1B in gifts to alma mater Johns Hopkins University"></a>
            </div>

            <div class="entry-meta">July 9, 2012</div>

            <h2 class="entry-title">
              <a href="#">
                Bloomberg tops $1B in gifts to alma mater Johns Hopkins University
              </a>
            </h2>

          </article>

          <article class="hentry item has-thumbnail content-print">

            <div class="entry-thumbnail">
              <a href="#">
                <img width="110" height="110" src="/static/img/thumb2.JPG" class="attachment-thumbnail wp-post-image" alt="Hackers take over sentencing commission website"></a>
            </div>

            <div class="entry-meta">December 30, 2012</div>

            <h2 class="entry-title">
              <a href="#">
                Article Demo Showcase: What markup you can use in your News Article
              </a>
            </h2>

          </article>

          <article class="hentry item has-thumbnail content-print">

            <div class="entry-thumbnail">
              <a href="#">
                <img width="110" height="110" src="/static/img/thumb3.jpg" class="attachment-thumbnail wp-post-image" alt="Tennessee lawmaker wants to tie welfare benefits to good grades"></a>
            </div>

            <div class="entry-meta">January 20, 2013</div>

            <h2 class="entry-title">
              <a href="#">Barack Obama’s Complete 2013 Inauguration Speech</a>
            </h2>

          </article>

          <article class="hentry item has-thumbnail content-print">

            <div class="entry-thumbnail">
              <a href="#">
                <img width="110" height="110" src="/static/img/thumb4.JPG" class="attachment-thumbnail wp-post-image" alt="Tennessee lawmaker wants to tie welfare benefits to good grades"></a>
            </div>

            <div class="entry-meta">January 20, 2013</div>

            <h2 class="entry-title">
              <a href="#">Barack Obama’s Complete 2013 Inauguration Speech</a>
            </h2>

          </article>

        </div>
        <div class="tab-pane" id="dw-recent-comments-dw-widget-1">
          <h3 class="widget-title">Comment</h3>
          <ul id="dw_recentcomments">
            <li class="dw_recentcomments">
              <img alt="" src="/static/img/user.jpg" class="avatar avatar-60 photo" height="60" width="60">
              <div class="comment-info">

                <span class="comment-date">January 8, 2013</span>
                <span class="comment-title">
                  on
                  <a href="#">The Man Who Sold The World</a>
                </span>
                <span class="comment-author">by ass</span>
              </div>
            </li>
            <li class="dw_recentcomments">
              <img alt="" src="/static/img/user.jpg" class="avatar avatar-60 photo avatar-default" height="60" width="60">
              <div class="comment-info">

                <span class="comment-date">January 7, 2013</span>
                <span class="comment-title">
                  on
                  <a href="#">Umbrella Beach</a>
                </span>
                <span class="comment-author">
                  by
                  <a href="http://twitter.com/honglt" rel="external nofollow" class="url">Le Hong</a>
                </span>
              </div>
            </li>
            <li class="dw_recentcomments">
              <img alt="" src="/static/img/user.jpg" class="avatar avatar-60 photo avatar-default" height="60" width="60">
              <div class="comment-info">

                <span class="comment-date">January 7, 2013</span>
                <span class="comment-title">
                  on
                  <a href="#">Umbrella Beach</a>
                </span>
                <span class="comment-author">
                  by
                  <a href="http://twitter.com/honglt" rel="external nofollow" class="url">Le Hong</a>
                </span>
              </div>
            </li>
            <li class="dw_recentcomments">
              <img alt="" src="/static/img/user.jpg" class="avatar avatar-60 photo" height="60" width="60">
              <div class="comment-info">

                <span class="comment-date">January 7, 2013</span>
                <span class="comment-title">
                  on
                  <a href="#">Umbrella Beach</a>
                </span>
                <span class="comment-author">by admin</span>
              </div>
            </li>
          </ul>

        </div>
      </div>
      <!-- end div tab-content --> </aside>

  </div>
    </div>
  </div>
  <!-- end div secodary  -->

  <!--  end tabbed posts and comments -->

  <div class="panel panel-default">

  <div class="panel-heading">
    Stay in touch
  </div>
  
  <div class="panel-body">
    <div class="row">
  <div class="col-sm-12">
    <div class="content_btm">

        <div class="content_btm_grid" align="center">
          <h2>join the newsletter</h2>
          <p>sign up for our personlized weekly news letter</p>
        </div>

         
          <div class="search1">
            <form class="form_center">
              <input type="text" value=""><br>
              <input type="submit" value="Sign up">
            </form>
         </div>

      </div>
  </div>
</div>
  </div>
</div>

</div> <!-- end col-sm-4 --> 
  
{% endblock sidecontent %}

{% block extra_js %}
  <script type="text/javascript">

    $(document).ready(function(){
      /**
       * Carousel
       */
      $('#myCarousel').carousel({
      interval: 7000
  });

  // handles the carousel thumbnails
  $('[id^=carousel-selector-]').click( function(){
    var id_selector = $(this).attr("id");
    var id = id_selector.substr(id_selector.length -1);
    id = parseInt(id);
    $('#myCarousel').carousel(id);
    $('[id^=carousel-selector-]').removeClass('selected');
    $(this).addClass('selected');
  });

  // when the carousel slides, auto update
  $('#myCarousel').on('slid', function (e) {
    var id = $('.item.active').data('slide-number');
    id = parseInt(id);
    $('[id^=carousel-selector-]').removeClass('selected');
    $('[id^=carousel-selector-'+id+']').addClass('selected');
  });
    
    });
  </script>

{% endblock extra_js %}

