{% extends "sitebase.html" %}
{% load dajaxice_templatetags %}
{% load i18n %}
{% block extra_style %}
  <link href="/static/style/blog-style.css" rel="stylesheet">
{% endblock extra_style %}

{% block middlecontent %}

  <div class="col-sm-8">
  <br/>

  <div id="respo">
  <div class="panel panel-default">
    <div class="panel-heading"> {% trans "Toutes les offres" %} </div>
    <div class="panel-body">

      <div id="wrapper2">
        <div id="carousel2">
          <!-- article 1 --> 
      {% for i in contacts %}
            <li>
            
              <div class="col-lg-12">

                  <div class="post-block-out " style="direction:{{ direction }}">
        
                      <div class="post-block">
                  
                          <div class="post-left">
                              <a href="#" title="My First Classified Ad">
                                <img class="attachment-medium img-thumbnail" alt="" title="" src="{{ i.image.thumb_url }}" width='87'>
                              </a>                
                          </div>
                  
                          <div class="post-right full">
                          
                                <div class="price-wrap">
                                  <span class="tag-head">&nbsp;</span><p class="post-price">${{i.price_display}}</p>
                                </div>

                              <h3><a href="{{i.get_absolute_url}}">{{ i.title }}</a></h3>
                              
                              <div class="clr"></div>
                              
                                
                              <p class="post-meta">
                                  <span class="folder">
                                    <a href="#" rel="tag">{{ i.category_display }}</a>
                                  </span> | 
                                  <span class="owner">
                                    <a href="#" title="Posts by admin" rel="author">{{i.region_display}}</a>
                                  </span> | 
                                  <span class="clock"><span>{{i.created}}</span></span>
                              </p>
                              
                              <div class="clr"></div>
                              
                              <p class="post-desc">
                                {% if i.description  %}
                                  {{ i.description }}
                                {% else %}
                                  {% trans "Pas de description desponible" %}
                                {% endif %}
                                <i class="glyph-icon icon-big icon-cogs"></i>
                              </p>
                              
                                <p class="stats">{{i.views}} &nbsp; views</p>
                              
                              <div class="clr"></div>


                  
                          </div>
                  
                          <div class="clr"></div>


                  
                      </div><!-- /post-block -->
          
                    </div> <!-- post-block-out ends --> 

              </div>  

            </li>

          {% empty %}    
          <li>
            <img src="/static/img/thumb1.JPG" alt="" class="img-thumbnail">
            <div class="car-meta">
              <h4>lorem 1</h4>
              <i class='icon icon-comments-alt'></i> <span>13 Comments</span> <br/>  
              <i class="icon icon-calendar"></i> <span>12/12/12</span>
            </div>
        </li>
        
        {% endfor %}
      <!-- end article 1 --> 
        </div>
      </div>
      
    </div>
    <!-- end panel body -->

    <br/> 

    <!-- pagination  -->
  <div class="panel panel-default">

    <div class="panel-body">

      <div class="page-numbers">
        <ul>

          {% if contacts.has_previous %}
          <li>
            <a class="prev" href="?page={{ contacts.previous_page_number }}">
              <i class="prev"></i>
            </a>
          </li>
          {% endif %}

          <li>
            <a href="javascript:void(0)"> {% trans "page" %} &nbsp;{{ contacts.number }} / {{ contacts.paginator.num_pages }} </a>
          </li>
          
          {% if contacts.has_next %}
          <li>
            <a class="next" href="?page={{ contacts.next_page_number }}">
              <i class="next"></i>
            </a>
          </li>
          {% endif %}

          <div class="clear"></div>
        </ul>
      </div>
      
    </div>
    
  </div>
<!-- pagination end   -->

    
  </div>
  
  </div>

<!-- google ads -->       
<div class="panel panel-default">
 <div class="panel-body">
   <div class="col-sm-12">
     <img src="http://placehold.it/670x70" alt="placeholder image" class='img-responsive'>
   </div>
 </div>
</div>
  
</div> <!-- end span8 -->
{% endblock middlecontent %}

<br/>

{% block sidecontent %}
  <div class="col-sm-4">
  <div class="sidebar">

    <div class="panel panel-default">
          <div class="panel-heading">Recherche contextuelle</div>
          <div class="panel-body"> 
            <form method="post" id="textsearchform" action="/search" class="form-search">

              <div class="form-group" style="width: 99%; float:right">
                  
                  <label for="id_text_search">chercher dans les titres:</label>
                  <div class="input-group">
                     <span class="input-group-addon">
                      <span class="glyphicon glyphicon-search"></span>
                     </span> 
                    {{ text_form.target_text }}
                    
                  </div>
              </div>

              <p style="text-align: center;"> 
                <input type="button" class="btn btn-primary" value="Valider" onclick="text_send_form();"> 
              </p>
              
            </form>

          </div>
        </div>

    <div class="panel panel-default">

      <div class="panel-heading">Recherche</div>
      <div class="panel-body">
        <!-- injected form --> 
        <form action="" method="post" id="search_form" accept-charset="utf-8">

              {% csrf_token %}

               {{ form.non_field_errors }}

              <div class="form-group">
                  {{ form.offer.errors }}
                  <label for="id_offer">{% trans "Offre" %}:</label>
                  {{ form.offer }}
              </div>

              <div class="form-group" style="clear:both;">
                  {{ form.category.errors }}
                  <label for="id_category">{% trans "Categorie" %}:</label>
                  {{ form.category }}
              </div>

              <div class="form-group">
                  {{ form.region.errors }}
                  <label for="id_region">{% trans "Region" %}:</label>

                  <div class="form-input">
                    {{ form.region }}
                  </div>
              </div>

              <div class="form-group" style="width: 47%; float:left">
                  {{ form.low_salary.errors }}
                  <label for="id_low_salary">{% trans "Salaire min" %}:</label>
                  {{ form.low_salary }}
              </div>

              <div class="form-group" style="width: 47%; float:right">
                  {{ form.high_salary.errors }}
                  <label for="id_high_salary">{% trans "Salaire max" %}:</label>
                  {{ form.high_salary }}
              </div>

                <br/>
                <br/>

                <p style="text-align: center;"> <input type="button" class="btn btn-primary" value="Valider" onclick="send_form();"> </p>

            </form>
        <!-- injected form ends --> 
      </div>

    </div>

  </div>
  <!-- end div sidebar -->

  <!--  tabbed posts and comments -->

  <div class="panel panel-default">

    <div class="panel-heading">Posts Populaires</div>
    <div class="panel-body">

      <br/>
      <div id="secondary" class="widget-area span3" role="complementary">
        <aside id="dw_focus_tabs-6" class="widget dw_focus_tabs news-tab">

          <div class="nav-tab-select-wrap">
            <select name="nav-tabs-dw_focus_tabs-6" class="nav-tabs-by-select hidden-desktop">
              <option data-target="#dw_focus_popular_news-3" value="#dw_focus_popular_news-3">POSTS</option>
              <option data-target="#dw-recent-comments-dw-widget-1" value="#dw-recent-comments-dw-widget-1">COMMENTAIRES</option>

            </select>
          </div>

          <ul class="nav nav-tabs visible-desktop" id="nav-tabs-dw_focus_tabs-6">
            <li class="active">

              <!-- be careful to the urls it is used to navigate -->

              <a href="http://demo.designwall.com/dw-focus/blog/#dw_focus_popular_news-3">Posts</a>
            </li>
            <li class="">
              <a href="http://demo.designwall.com/dw-focus/blog/#dw-recent-comments-dw-widget-1">Commentaires</a>
            </li>

          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="dw_focus_popular_news-3">
              <h3 class="widget-title">Posts</h3>

              <article class="hentry item active has-thumbnail content-print">

                <div class="entry-thumbnail">
                  <a href="#">
                    <img width="110" height="110" src="/static/img/thumb1.JPG" class="attachment-thumbnail wp-post-image" alt="Bloomberg tops $1B in gifts to alma mater Johns Hopkins University"></a>
                </div>

                <div class="entry-meta">July 9, 2012</div>

                <h2 class="entry-title">
                  <a href="#">
                    Bloomberg tops $1B in gifts to alma mater Johns Hopkins University
                  </a>
                </h2>

              </article>

              <article class="hentry item has-thumbnail content-print">

                <div class="entry-thumbnail">
                  <a href="#">
                    <img width="110" height="110" src="/static/img/thumb2.JPG" class="attachment-thumbnail wp-post-image" alt="Hackers take over sentencing commission website"></a>
                </div>

                <div class="entry-meta">December 30, 2012</div>

                <h2 class="entry-title">
                  <a href="#">
                    Article Demo Showcase: What markup you can use in your News Article
                  </a>
                </h2>

              </article>

              <article class="hentry item has-thumbnail content-print">

                <div class="entry-thumbnail">
                  <a href="#">
                    <img width="110" height="110" src="/static/img/thumb3.jpg" class="attachment-thumbnail wp-post-image" alt="Tennessee lawmaker wants to tie welfare benefits to good grades"></a>
                </div>

                <div class="entry-meta">January 20, 2013</div>

                <h2 class="entry-title">
                  <a href="#">Barack Obama’s Complete 2013 Inauguration Speech</a>
                </h2>

              </article>

              <article class="hentry item has-thumbnail content-print">

                <div class="entry-thumbnail">
                  <a href="#">
                    <img width="110" height="110" src="/static/img/thumb4.JPG" class="attachment-thumbnail wp-post-image" alt="Tennessee lawmaker wants to tie welfare benefits to good grades"></a>
                </div>

                <div class="entry-meta">January 20, 2013</div>

                <h2 class="entry-title">
                  <a href="#">Barack Obama’s Complete 2013 Inauguration Speech</a>
                </h2>

              </article>

            </div>
            <div class="tab-pane" id="dw-recent-comments-dw-widget-1">
              <h3 class="widget-title">Commentaires</h3>
              <ul id="dw_recentcomments">
                <li class="dw_recentcomments">
                  <img alt="" src="/static/img/user.jpg" class="avatar avatar-60 photo" height="60" width="60">
                  <div class="comment-info">

                    <span class="comment-date">January 8, 2013</span>
                    <span class="comment-title">
                      on
                      <a href="#">The Man Who Sold The World</a>
                    </span>
                    <span class="comment-author">by ass</span>
                  </div>
                </li>
                <li class="dw_recentcomments">
                  <img alt="" src="/static/img/user.jpg" class="avatar avatar-60 photo avatar-default" height="60" width="60">
                  <div class="comment-info">

                    <span class="comment-date">January 7, 2013</span>
                    <span class="comment-title">
                      on
                      <a href="#">Umbrella Beach</a>
                    </span>
                    <span class="comment-author">
                      by
                      <a href="http://twitter.com/honglt" rel="external nofollow" class="url">Le Hong</a>
                    </span>
                  </div>
                </li>
                <li class="dw_recentcomments">
                  <img alt="" src="/static/img/user.jpg" class="avatar avatar-60 photo avatar-default" height="60" width="60">
                  <div class="comment-info">

                    <span class="comment-date">January 7, 2013</span>
                    <span class="comment-title">
                      on
                      <a href="#">Umbrella Beach</a>
                    </span>
                    <span class="comment-author">
                      by
                      <a href="http://twitter.com/honglt" rel="external nofollow" class="url">Le Hong</a>
                    </span>
                  </div>
                </li>
                <li class="dw_recentcomments">
                  <img alt="" src="/static/img/user.jpg" class="avatar avatar-60 photo" height="60" width="60">
                  <div class="comment-info">

                    <span class="comment-date">January 7, 2013</span>
                    <span class="comment-title">
                      on
                      <a href="#">Umbrella Beach</a>
                    </span>
                    <span class="comment-author">by admin</span>
                  </div>
                </li>
              </ul>

            </div>
          </div> <!-- end div tab-content --> 
        </aside>

      </div>
    </div>
  </div>
  <!-- end div secodary  -->

  <!--  end tabbed posts and comments -->

  <div class="panel panel-default">

    <div class="panel-heading">Restez informés</div>

    <div class="panel-body">
      <div class="row">
        <div class="col-sm-12">
          <div class="content_btm">

            <div class="content_btm_grid" align="center">
              <h2>Abonnez vous à notre newsletter</h2>
              <p>Entrez votre adresse mail et vous recevrez une notification à chaque nouvel article</p>
            </div>

            <div class="search1">
              <form class="form_center">
                <input type="text" value="">
                <br>
                <input type="submit" value="Allez y"></form>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

</div> <!-- end col-sm-4 --> 
{% endblock sidecontent %}

